<p id="notice"><%= notice %></p>

<p>
  <strong>Article:</strong>
  <%= @model.article %>
</p>

<p>
  <strong>Title:</strong>
  <%= @model.title %>
</p>

<p>
  <strong>Articlebody:</strong>
  <%= @model.articlebody %>
</p>

<p>
  <strong>Bigindate:</strong>
  <%= @model.bigindate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @model.enddate %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
